.row-header-template1{
  margin:3px 0px 3px 0px;
  padding:3px 0px 3px 0px;
}

.row-content-template1 {
  margin:0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  border-left: 3px solid #BDD7EE;
}

.jumbotron-template1 {
  padding:15px 15px 15px 15px;
  margin:0px 0px 0px 0px;
  background: #BDD7EE;
}

.headingText-template1 {
  color: #0070C0;
}

.rangeSlideLeft-template1 {
  border-top: 5px solid #0070C0;
}

.rangeSlideRight-template1 {
  border-top: 5px solid #BDD7EE;
}

.leftBorder-template1 {
  border-left: 3px solid #BDD7EE;
}

.rightBorder-template1 {
  border-right: 3px solid #BDD7EE;
}

.topBorder-template1 {
  border-top: 3px solid #BDD7EE;
}

.bottomBorder-template1 {
  border-bottom: 3px solid #BDD7EE;
}
