body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibri', 'Segoe UI', 'Oxygen', 'Roboto', 'Times New Roman', 'Helvetica',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
